.aside-contact-head {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-primary);
    height: 64px;
    padding: 0 19px;
    border-bottom: 1px solid var(--border);
    background: var(--layer-background);
}

.aside-contact-head-img {
    height: 22px;
    width: 22px;
    margin: 0 10px 0 0;
}

.aside-contact-name {
    font-size: 1.6rem;
    color: var(--text-primary);
}

/*contact container*/
.contact {
    padding: 0 16px;
    background-color: var(--layer-bg-contact);
    height: calc(100% - 64px);
    overflow-y: auto;
    margin-bottom: 10px;

}

.cont-contact {
    height: calc(100% - 64px);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--layer-background);
    margin-bottom: 10px;

}

/*contact filter*/

.contact-list-title {
    height: 64px !important;
    font-size: 1.37rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-primary);
    background: var(--NG10);
}

.contact-filter {
    background: var(--layer-background);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    width: 100%;
    padding: 16px;
    row-gap: 16px;
    column-gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-search {
    height: unset;
    width: unset;
    border: 1px solid var(--border);
    background-color: var(--layer-msg-bg-subtle);

    &:focus-within {
        background-color: var(--layer-msg-bg-subtle);
        border: 1px solid var(--search-bg-filled-hover);

    }
}

.wrapper-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    height: 32px;
    width: 100%;
}

.contact-filter-select {
    width: 100%;
    height: 30px;
    background: var(--search-bg-filled);
    border: 1px solid var(--search-bg-filled);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0 6px;
    outline: none;

    &:hover {
        background-color: var(--search-bg-filled-hover);
    }
}

.contact-filter-select option {
    color: var(--text-primary);
    border-radius: 2px;
    height: 33px;
    font-size: 1.35rem;
    padding: 4px;
}

/* contact list*/
.contact-list {
    width: 100%;
    padding: 10px 0;
}

.contact-item {
    padding: 0 10px;
    width: 100%;
    height: 72px;
    cursor: pointer;

    &:hover {
        background-color: var(--layer-msg-bg-hover);
    }
}

.friend-avatar {
    margin-right: 10px;
}

.friend-info {
    border-bottom: 1px solid var(--border);
    width: 100%;
    height: 100%;
    position: relative;

}

.friend-name {
    margin-left: 4px;
    font-size: 1.58rem;
    font-weight: 500;
    color: var(--text-primary);
}

.friend-more-icon {
    font-size: 1.4rem;
    color: var(--icon-secondary);
}

/*dialog action contact item*/

.friend-options {
    position: absolute;
    background-color: var(--layer-background);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 var(--BA20);
    padding: 10px 0;
    right: 0px;
    top: 50px;
    z-index: 10;
    display: none;
    width: 150px;
}

.friend-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.friend-options ul li {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--text-primary);
    width: 100%;
}

.friend-options ul li:hover {
    background-color: var(--layer-msg-bg-hover);
}


/*aside group list*/

.group-info {
    height: 54%;
    justify-content: space-between;
}

.group-member-count {
    font-size: 1.2rem;
    margin-left: 5px;
    color: var(--text-secondary);
}