.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100%;
    background-color: var(--layer-bg-login);
    padding-top: 70px;
}

.login-head {
    align-items: center;
    margin-bottom: 30px;
}

.login-logo {
    margin-bottom: 20px;
    width: 150px;
}

.login-describe {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.login-body {
    width: 400px;
    background-color: var(--layer-background);
    color: var(--text-primary);
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(21, 48, 142, 0.14);
}

.login-form {
    width: 100%;
    display: flex;
    padding: 25px;
    flex-direction: column;
}

.login-info {
    padding: 8px 0;
    border-bottom: 1px solid #ecedf0;
    margin-bottom: 7px;
    position: relative;

    &:focus-within {
        border-color: var(--layer-background-leftmenu-selected);
    }
}

.login-icon {
    margin-right: 15px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.5);

    i {
        font-size: 1.4rem;
    }

    &.phone {
        margin-top: 2px;
    }

    &.verify {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text-information);
        color: var(--icon-on-color);
        border-radius: 50%;
        margin-bottom: 4px;

        i {
            font-size: 1.2rem;

        }
    }
}

.login-input {
    font-size: 1.4rem;
    resize: none;
    cursor: text;
    padding: 8px 4px;
    flex: 1;
    transition: all .3s;
    width:75%;
}

.login-number-country {
    font-size: 1.23rem;
    margin-right: 4px;
}

.login-btn-more {
    margin: 10px 6px 10px;
}

.login-btn-remember {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;

    input {
        margin: 0;
        width: 17px;
        height: 17px;
    }

    label {
        margin: 0;
        font-size: 1.2rem;
        cursor: pointer;
        padding-left: 8px;
    }
}

.login-btn-forgot {
    height: 66px;
    align-items: center;
    display: flex;

    a {
        margin: 0 auto;
        text-decoration: none;
        color: var(--text-primary);
        font-size: 1.33rem;

        &:hover {
            text-decoration: underline;
            color: var(--text-information);
        }
    }
}

.login-btn {
    background-color: var(--button-primary-normal);
    color: var(--button-primary-text);
    padding: 22px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 12px;

    &:hover {
        background-color: var(--button-secondary-text);
    }
}

.btn.disable {
    background-color: var(--button-primary-disabled);
}

.login-forgot-form {
    padding: 0px 25px 25px;
}

.login-otp-form {
    height: 40px;
    margin-top: 22px;
}

.login-otp {
    border: 1px solid var(--text-primary);
}

.login-otp-btn {
    background-color: var(--button-secondary-normal);
    color: var(--button-secondary-text);
    border: 1px solid var(--button-secondary-pressed);
    margin-left: 15px;
    width: 100px;
    height: 40px;

    &:hover {
        background-color: var(--button-secondary-hover);
    }
}

.login-otp-input {
    border-bottom: 1px solid #ecedf0;
    width: 120px;

    &:focus-within {
        border-color: var(--layer-background-leftmenu-selected);
    }
}

.btn-return {
    font-size: 1.1rem;
    margin-top: 10px;

    &:hover {
        color: var(--text-information);
    }
}

.login-tab {
    height: 48px;
    width: 100%;
    margin-bottom: 22px;
    border-bottom: 1px solid var(--BA10);
    margin-top: 4px;
}

.login-tab-item {
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    height: 100%;
    color: #6f6f6f;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

    &.active {
        border-color: var(--text-primary);
        color: var(--text-primary);
    }
}

.clear-icon {
    position: absolute;
    right: 0;
    top: 35%;
    font-size: 1.33rem;
    color: #6e6f70;
    cursor: pointer;
    display: none;

    &:hover {
        color: var(--button-primary-normal);
    }
}


/*footer login*/
.login-footer {
    margin-top: 20px;
    font-size: 1.2rem;
}

.login-footer-title {

}

.login-footer-link {
    color: var(--text-information);

    &:hover {
        font-weight: 500;
    }
}
