@page
@model Server.Pages.aside_invitationsModel
@{
}
<aside class="flex-column aside-container-msg">
    <header class="flex-align-center aside-contact-head">
        <img class="aside-contact-head-img" src="https://cdn4.iconfinder.com/data/icons/users-114/24/user_login-512.png"
             alt="">
        <div class="aside-contact-name">Lời mời kết bạn</div>
    </header>

    <!-- list add friends go here  -->
    <div class="contact">
        <div class="flex-align-center contact-list-title">
            <span>Lời mời đã nhận</span>
            <span>&nbsp;(4)</span>
        </div>

        <div class="flex contact-invitation-list">
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Từ số điện thoại</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn small btn-neutral">Từ chối</button>
                    <button class="btn small btn-secondary">Đồng ý</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Từ số điện thoại</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn small btn-neutral">Từ chối</button>
                    <button class="btn small btn-secondary">Đồng ý</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Từ số điện thoại</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn small btn-neutral">Từ chối</button>
                    <button class="btn small btn-secondary">Đồng ý</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Từ số điện thoại</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn small btn-neutral">Từ chối</button>
                    <button class="btn small btn-secondary">Đồng ý</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
        </div>

        <div class="flex-align-center contact-list-title">
            <span>Lời mời đã gửi</span>
            <span>&nbsp;(18)</span>
        </div>
        <div class="flex contact-invitation-list">
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
            <div class="flex-column invitation-item">
                <div class="flex-align-center invitation-user">
                    <button>
                        <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                    </button>
                    <div class="flex-column invitation-info">
                        <span class="invitation-name">Park Chaeyoung</span>
                        <span class="invitation-time">25/07 - Bạn đã gửi lời mời</span>
                    </div>
                </div>
                <div class="flex-justify-between invitation-action">
                    <button class="btn large btn-neutral">Thu hồi lời mời</button>
                </div>
                <button class="invitation-chat">
                    <i class="fa-regular fa-comments"></i>
                </button>
            </div>
        </div>

    </div>
</aside>