@page
@{
}
<aside class="flex-column aside-container-msg">
    <header class="flex-align-center-between cont-msg-header">
        <div class="flex-align-center">
            <div class="avatar-chat-msg">
                <img class="avatar-img" src="~/img/avt.jpeg" alt="">
            </div>
            <div class="flex-column aside-head-info">
                <div class="aside-head-name">Winter</div>
                <div class="aside-head-tag">
                    <i class="fa-solid fa-tag"></i>
                </div>
            </div>
        </div>
        <div>
            <button class="btn-search-add">
                <i class="fa-solid fa-user-group btn-search-add__icon"></i>
            </button>
            <button class="btn-search-add">
                <i class="fa-solid fa-magnifying-glass btn-search-add__icon"></i>
            </button>
            <button class="btn-search-add">
                <i class="fa-solid fa-video btn-search-add__icon"></i>
            </button>
            <button class="btn-search-add">
                <i class="fa-regular fa-window-restore btn-search-add__icon"></i>
            </button>
        </div>
    </header>
    <!-- list chat -->
    <div class="aside-cont-list-chat">
        <div id="chatContainer" class="list-chat">
            <div class="block-date">
                <div class="flex-align-justify-center time-seen">
                    <span class="flex-align-justify-center">09:08 12/11/2020</span>
                </div>
                <div class="flex chat-item">
                    <div class="avatar-chat-msg">
                        <img class="avatar-img avt-their" src="~/img/avt.jpeg" alt="">
                    </div>
                    <div class="chat-content">
                        <div class="chat-message">
                            <div class="chat-text-time">
                                <div class="text-msg">An nhonn</div>
                                <span class="chat-time">14:06</span>
                            </div>
                            <div class="flex-align-justify-center chat-react">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="chat-message">
                            <div class="chat-text-time">
                                <div class="text-msg">What are you doing?</div>
                                <span class="chat-time">14:06</span>
                            </div>
                            <div class="flex-align-justify-center chat-react">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex chat-item me">
                    <div class="avatar-chat-msg">
                        <img class="avatar-img avt-their" src="~/img/avt.jpeg" alt="">
                    </div>
                    <div class="chat-content me">
                        <div class="chat-message">
                            <div class="chat-text-time me">
                                <div class="text-msg">An nhonn</div>
                                <span class="chat-time"></span>
                            </div>
                            <div class="flex-align-justify-center chat-react">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="chat-message">
                            <div class="chat-text-time me">
                                <div class="text-msg">What's up, sweetie?</div>
                                <span class="chat-time">14:06</span>
                            </div>
                            <div class="flex-align-justify-center chat-react">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-date">
                <div class="flex-align-justify-center time-seen">
                    <span class="flex-align-justify-center">23:08 13/11/2020</span>
                </div>
                <div class="flex chat-item">
                    <div class="avatar-chat-msg">
                        <img class="avatar-img avt-their" src="~/img/avt.jpeg" alt="">
                    </div>
                    <div class="chat-content">
                        <div class="chat-message">
                            <div class="chat-text-time">
                                <div class="text-msg">
                                    Just wanna talk to youJust wanna talk to youJust wanna
                                    talk to
                                    youJust wanna talk to youJust wanna talk to youJust wanna talk to youJust
                                    wanna
                                    talk to youJust wanna talk to youJust wanna talk to you
                                </div>
                                <span class="chat-time">14:06</span>
                            </div>
                            <div class="flex-align-justify-center chat-react">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <!-- ... add more chat mesg -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer aside -->
    <div class="flex-column aside-chat-container">
        <div class="aside-chat-bar">
            <div class="aside-chat-toolbar">
                <button class="aside-chat-bar-btn">
                    <img class="aside-chat-bar-btn_img" src="~/img/sticker icon.png" alt="">
                </button>
                <button class="aside-chat-bar-btn" id="btnSelectImage">
                    <img class="aside-chat-bar-btn_img" src="~/img/image.png" alt="">
                    <input type="file" id="imageInput" style="display: none;" accept="image/*">
                </button>
                <button class="aside-chat-bar-btn" id="btnSelectFile">
                    <input type="file" id="fileInput" style="display: none;">
                    <img class="aside-chat-bar-btn_img" src="~/img/link icon.png" alt="">
                </button>
                <button class="aside-chat-bar-btn">
                    <img class="aside-chat-bar-btn_img" src="~/img/card icon.png" alt="">
                </button>
            </div>

        </div>
        <div class="flex-align-center-between aside-chat-cont-input">
            <div class="aside-chat-input">
                <textarea class="aside-chat-input_text" type="text" placeholder="Gửi tin nhắn..."></textarea>
            </div>
            <div class="flex aside-chat-icon-with-send">
                <button class="aside-chat-bar-btn emoji-btn">
                    <img class="aside-chat-bar-btn_img" src="~/img/smile icon.png" alt="">
                </button>
                <div class="emoji-picker" style="display: none;">
                    <div class="emoji-list">
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🙂</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😖</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😍</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😂</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😎</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😢</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😀</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🥳</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😡</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😇</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🤔</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🥺</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😊</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😇</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🙃</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😉</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😌</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🥰</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😘</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😗</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😙</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😚</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😋</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😛</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😝</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😜</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🤪</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🤨</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🧐</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😎</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🤓</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🥸</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🤩</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🥳</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🙂‍↕️</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😏</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🙂‍↔️</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😞</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😔</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😟</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😟</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😟</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😣</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😫</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😩</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😭</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">😮‍💨</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🙌</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">👍</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">👎</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🔥</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">💯</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">❤️</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🎉</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">👏</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🤝</span></div>
                        <div class="flex-align-justify-center emoji-icon-btn"><span class="emoji-item-icon">🙈</span></div>
                    </div>
                </div>
                <button class="aside-chat-bar-btn_send">
                    <i class="fa-solid fa-paper-plane aside-chat-bar-btn_icon"></i>
                </button>
            </div>
        </div>
    </div>
</aside>