@page
@model zaloclone_test.Pages.Index1Model
@{
}
<header class="sidebar-head">
    <div class="nav-top">
        <button class="avatar nav-btn ">
            <img src="https://s120-ava-talk.zadn.vn/f/4/0/3/5/120/d4b18e254c63eb8d920ef756817e0442.jpg"
                 class="avatar-img" alt="avatar">
        </button>
        <div class=" ">
            <button class="nav-btn">
                <i class="fa-regular fa-comment nav-btn-icon"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fa-regular fa-address-book nav-btn-icon"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fa-regular fa-square-check nav-btn-icon"></i>
            </button>
        </div>
    </div>
    <div class="nav-bottom">
        <div>
            <button class="nav-btn">
                <i class="fa-solid fa-cloud nav-btn-img"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fa-solid fa-briefcase nav-btn-img"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn nav-setting">
                <i class="fa-solid fa-gear nav-btn-img"></i>
            </button>
        </div>
    </div>
</header>

<div class="setting-modal">
    <div class="flex-column">
        <button class="setting-btn"> Thông tin tài khoản </button>
        <button class="setting-btn"> Cài đặt</button>
        <button class="setting-btn btn-red"> Đăng xuất</button>
    </div>
</div>

<!-- Dialog Profile -->
<div id="profileDialog" class="dialog-overlay" style="display: none;">
    <div class="dialog-content">
        <div id="view-profile">
            <div class="flex-align-center-between profile-head">
                <div class="profile-title">Thông tin tài khoản</div>
                <span class="flex-align-justify-center close-btn">
                    <i class="fa-solid fa-xmark "></i>
                </span>
            </div>
            <div class="flex-align-center profile-info">
                <img src="https://s120-ava-talk.zadn.vn/f/4/0/3/5/120/d4b18e254c63eb8d920ef756817e0442.jpg"
                     class="avatar-img profile-avatar" alt="avatar" id="profileAvatar">
                <div class="profile-name">Phạm Hoan</div>
                <button class="profile-edit"><i class="fa-solid fa-pencil"></i></button>
                <button class="flex-align-justify-center profile-change-avatar">
                    <i class="fa-solid fa-camera"></i>
                </button>
                <input type="file" id="fileInput" style="display: none;" accept="image/*">
            </div>
            <div class="profile-title">Thông tin cá nhân</div>
            <div class="profile-detail">
                <div class="profile-detail-list">
                    <div class="profile-detail-item">
                        <span class="profile-detail-title">Bio</span>
                        <span>-.-</span>
                    </div>
                    <div class="profile-detail-item">
                        <span class="profile-detail-title">Giới tính</span>
                        <span>Nam</span>
                    </div>
                    <div class="profile-detail-item">
                        <span class="profile-detail-title">Ngày sinh</span>
                        <span>12 tháng 11, 2003</span>
                    </div>
                    <div class="profile-detail-item">
                        <span class="profile-detail-title">Điện thoại</span>
                        <span>0326644740</span>
                    </div>
                    <div class="profile-note">Chỉ bạn bè đã chấp nhận kết bạn mới xem được số điện thoại này</div>
                </div>
                <button class="profile-edit-btn">
                    <i class="fa-solid fa-pencil"></i>
                    <span>&nbsp;Cập nhật</span>
                </button>
            </div>
        </div>

        <div id="edit-profile" style="display: none;">
            <div class="flex-align-center-between profile-head">
                <div class="flex-align-center profile-title">
                    <span class="flex-align-justify-center return-btn">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span>
                    <span>Cập nhật thông tin tài khoản</span>
                </div>
            </div>
            <div class="profile-edit-cont">
                <div class="flex-column profile-edit">
                    <span class="profile-edit-text">Tên hiển thị</span>
                    <input class="profile-edit-name" type="text" name="" id="" maxlength="50">
                </div>
                <div class="edit-profile-title">Thông tin cá nhân</div>
                <div class="flex-align-center edit-profile-gender">
                    <div class="flex-align-center">
                        <input name="gender" id="male" type="radio" class="edit-profile-gender_btn">
                        <label for="male" class="profile-edit-gender_text">Nam</label>
                    </div>
                    <div class="flex-align-center">
                        <input name="gender" id="female" type="radio" class="edit-profile-gender_btn">
                        <label for="female" class="profile-edit-gender_text">Nữ</label>
                    </div>
                    <div class="flex-align-center">
                        <input name="gender" id="other" type="radio" class="edit-profile-gender_btn">
                        <label for="other" class="profile-edit-gender_text">Khác</label>
                    </div>
                </div>
                <div class="flex-column">
                    <span class="profile-edit-text">Ngày sinh</span>
                    <input class="profile-edit-date" type="date" name="" id="">
                </div>
                <div class="flex-column">
                    <span class="profile-edit-text">Bio</span>
                    <textarea class="profile-edit-bio" name="" id="" maxlength="60"></textarea>
                </div>
            </div>
            <div class="edit-profile-footer">
                <button class="btn btn-neutral profile-btn-cancel">Hủy</button>
                <button class="btn btn-primary profile-btn-update">Cập nhật</button>
            </div>
        </div>
    </div>
</div>