@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zalo - Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- css -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="~/css/nav-header.css">
    <link rel="stylesheet" href="~/css/message-sidebar.css">
    <link rel="stylesheet" href="~/css/message-dialog.css">
    <link rel="stylesheet" href="~/css/contact-sidebar.css">
    <link rel="stylesheet" href="~/css/aside-contact.css">
    <link rel="stylesheet" href="~/css/aside-invitation.css">
    <link rel="stylesheet" href="~/css/profile-dialog.css">
    <link rel="stylesheet" href="~/css/sidebar-search.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <!-- icon title -->
    <link rel="icon" type="image/x-icon" href="~/img/Designer.png">
</head>

<body>
    <div class="main-container">
        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="aside"></div>
    </div>
    <div id="profileDialog"></div>

    <script type="module" src="~/js/init/index.js"></script>
    <script type="module" src="~/js/init/Helper/MyLoadPromise.js"></script>
    <script type="module" src="~/js/init/Helper/MyAsynce.js"></script>

    <script type="module" src="~/js/init/message-dialog-init.js"></script>
    <script type="module" src="~/js/init/sidebar-init.js"></script>
    <script type="module" src="~/js/init/message-list-switcher.js"></script>
    <script type="module" src="~/js/init/message-file-upload.js"></script>
    <script type="module" src="~/js/init/Chat/add-message.js"></script>
    <script type="module" src="~/js/init/Helper/timer.js"></script>
    <script type="module" src="~/js/init/Chat/react-message.js" async></script>
    <script type="module" src="~/js/init/Contact/option-friend.js"></script>
    <script type="module" src="~/js/init/Dialog/profile-init.js"></script>
    <script type="module" src="~/js/init/Dialog/setting-nav-init.js"></script>

</body>
</html>