@page
@model Server.Pages.sidebarModel
@{
}
<sidebar class="message-container">
    <header class="flex header-search">
        <div class="flex-justify-center search">
            <button class="flex-align-center search-icon">
                <i class="fa-solid fa-magnifying-glass "></i>
            </button>
            <input class="search-input" type="text" placeholder="Tìm kiếm">
            <button class="flex-align-center clear-icon">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
        </div>
        <button class="btn-search-add">
            <i class="fa-solid fa-user-plus btn-search-add__icon"></i>
        </button>
        <button class="btn-search-add">
            <i class="fa-solid fa-user-group btn-search-add__icon"></i>
        </button>
    </header>
    <!-- list message -->
    <div class="cont-list-msg">
        <div class="flex-align-center nav-filter-msg ">
            <button class="btn-filter selected" id="btnAll">Tất cả</button>
            <button class="btn-filter" id="btnUnread">Chưa đọc</button>
        </div>
        <div class="list-msg">
            <div class="flex-align-center item-msg selected">
                <div class="flex-align-center avatar-msg">
                    <img class="avatar-img" src="~/img/avt.jpeg" alt="">
                </div>
                <div class="flex-column flex-justify-center item-infor">
                    <div class="flex-justify-between item-infor-top">
                        <div class="text__overflow-1 username-msg">Winter</div>
                        <div class="flex-align-center-between mute-time-msg">
                            <div class="bell-msg" style="display: block;">
                                <i class="fa-solid fa-bell-slash bell-mute"></i>
                            </div>
                            <span style="padding: 0 0 2px 0;">9 phút </span>
                        </div>
                    </div>
                    <div class="flex-justify-between item-infor-bottom">
                        <div class="last-msg">What are you doing?!</div>
                        <span class="last-msg-count"></span>
                    </div>
                </div>
            </div>
            <div class="flex-align-center item-msg ">
                <div class="flex-align-center avatar-msg">
                    <img class="avatar-img" src="~/img/cloud-blue.jpg" alt="">
                </div>
                <div class="flex-column flex-justify-center item-infor">
                    <div class="flex-justify-between item-infor-top">
                        <div class="text__overflow-1 username-msg">Cloud của tôi</div>
                        <div class="flex-align-center-between mute-time-msg">
                            <div class="bell-msg" style="visibility: visible;">
                                <i class="fa-solid fa-bell-slash bell-mute"></i>
                            </div>
                            <span style="padding: 0 0 2px 0;">9 phút </span>
                        </div>
                    </div>
                    <div class="flex-justify-between item-infor-bottom">
                        <div class="last-msg">Bạn: absolutely right!</div>
                        <span class="last-msg-count"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-msg list-msg-2">
            <!-- Danh sách tin nhắn chưa đọc -->
            <div class="flex-align-center item-msg selected">
                <div class="flex-align-center avatar-msg">
                    <img class="avatar-img" src="~/img/cloud-blue.jpg" alt="">
                </div>
                <div class="flex-column flex-justify-center item-infor">
                    <div class="flex-justify-between item-infor-top">
                        <div class="text__overflow-1 username-msg msg-unread">Cloud của tôi</div>
                        <div class="flex-align-center-between mute-time-msg">
                            <div class="bell-msg" style="display: block;">
                                <i class="fa-solid fa-bell-slash bell-mute"></i>
                            </div>
                            <span style="padding: 0 0 2px 0;">9 phút </span>
                        </div>
                    </div>
                    <div class="flex-justify-between item-infor-bottom">
                        <div class="last-msg last-msg-unread">absolutely right!</div>
                        <span class="flex-align-justify-center last-msg-count">12</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sidebar>