@page
@model Server.Pages.sidebar_searchModel
@{
}
<sidebar class="message-container">
    <header class="flex header-search">
        <div class="flex-justify-center search">
            <button class="flex-align-center search-icon">
                <i class="fa-solid fa-magnifying-glass "></i>
            </button>
            <input class="search-input" type="text" placeholder="Tìm kiếm">
            <button class="flex-align-center clear-icon">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
        </div>
        <button class="btn-search-close">Đóng</button>
    </header>

    <!-- list search friend  -->
    <div class="cont-list-msg">
        <div class="list-search-friend">
            <div class="list-search-title">Tìm gần đây</div>
            <div class="flex-align-center list-search-item">
                <img src="~/img/avt.jpeg" class="avatar-img" alt="">
                <span class="text__overflow-1 list-search-item__name">Dad</span>
            </div>
            <div class="flex-align-center list-search-item">
                <img src="~/img/avt.jpeg" class="avatar-img" alt="">
                <span class="text__overflow-1 list-search-item__name">Young sis</span>
            </div>
        </div>
    </div>
</sidebar>